.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

/* Profile Image */
.hero img{
    margin-top: 150px;
    width: 220px;
}

/* Heading */
.hero h1{
    text-align: center;
    width: 75%;
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 100px;
}

/* Gradient Text */
.gradient-text{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Third Line Styling */
.third-line{
    display: block;
}

/* Paragraph */
.hero p{
    max-width: 700px;
    text-align: center;
    font-size: 22px;
    line-height: 36px;
}

/* Buttons Section */
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 60px;
}

/* Connect Button */
.hero-connect{
    padding: 18px 35px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    cursor: pointer;
    transition: 0.3s;
}

.hero-connect:hover{
    transform: scale(1.05);
}

/* Resume Button */
.hero-resume{
    padding: 18px 45px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: white;
}

.hero-resume:hover{
    background-color: white;
    color: black;
}

/* ================= MOBILE ================= */

@media(max-width:768px){

    .hero img{
        margin-top: 120px;
        width: 180px;
    }

    .hero h1{
        margin-top: 40px;
        width: 90%;
        font-size: 42px;
        line-height: 1.3;
    }

    .hero p{
        width: 80%;
        font-size: 16px;
        line-height: 28px;
        margin: 10px 0px;
    }

    .hero-action{
        gap: 15px;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .hero-connect{
        padding: 14px 25px;
        border-radius: 40px;
    }

    .hero-resume{
        padding: 14px 30px;
        border-radius: 40px;
    }
}