.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

/* ---------- TITLE ---------- */

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index:-1;
}

/* ---------- GRID ---------- */

.mywork-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 per row */
    gap: 40px;
}

/* ---------- IMAGE CARDS ---------- */

.mywork-container img{
    width: 100%;
    aspect-ratio: 3 / 2;   /* Matches your image ratio */
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.05);
    box-shadow: white
}

/* ---------- SHOW MORE BUTTON ---------- */

.mywork-showmore{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.4s;
    cursor: pointer;
}

.mywork-showmore:hover{
    gap: 25px;
    background: white;
    color: black;
}

/* ---------- RESPONSIVE ---------- */

@media(max-width: 1024px){
    .mywork{
        margin: 60px 80px;
    }

    .mywork-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

  .mywork {
    gap: 50px;
    margin: 60px auto;
    padding: 0 20px;
    align-items: center;
    text-align: center;
  }

  .mywork-title h1 {
    font-size: 32px;
  }

  .mywork-title img {
    height: auto;
    max-height: 200px;
  }

  .mywork-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .mywork-container img {
    width: 100%;
    aspect-ratio: 3 / 2;
  }
}