.footer{
    margin: 80px 170px 0 170px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* -------- TOP -------- */

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 125px;
}

.footer-top-left img{
    width: 120px;
    margin-bottom: 15px;
    padding-top: 75px;
}

.footer-top-left p{
   font-size: 19px;
   max-width: 480px;
   line-height: 30px;
   color: #b0b0b0;
   
   
}

/* -------- QUICK LINKS -------- */

/* -------- QUICK LINKS -------- */

.footer-quick-links h3{
    font-size: 35px;
    margin-bottom: 12px;
}

.footer-quick-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-quick-links ul li a{
    text-decoration: none;
    color: #b0b0b0;
    font-size: 22px;
    position: relative;
    transition: all 0.3s ease;
}

/* UNDERLINE ANIMATION */
.footer-quick-links ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

/* HOVER EFFECT */
.footer-quick-links ul li a:hover{
    color: white;
    transform: translateX(6px);
    text-shadow: 0 0 8px rgba(255,255,255,0.4);
}

.footer-quick-links ul li a:hover::after{
    width: 100%;
}
/* -------- HR -------- */

.footer hr{
    border: none;
    height: 1px;
    background: #2a2a2a;
    margin: 10px 0 20px 0;
}

/* -------- BOTTOM -------- */

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* COPYRIGHT */
.footer-bottom-left{
    color: #a0a0a0;
    font-size: 17px;
}

/* SOCIAL ICONS */
.footer-social-icons{
    display: flex;
    gap: 25px;
    padding-right: 72px;
}

.footer-social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1e1e1e;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.footer-social-icons img{
    width: 30px;
    height: 30px;
}

.footer-social-icons a:hover{
    border: 2px solid white;
    transform: translateY(-4px);
}

/* -------- RESPONSIVE -------- */

@media(max-width:768px){

    .footer{
        margin: 60px 40px 0 40px;
        padding-bottom: 80px;
    }

    .footer-top{
        flex-direction: column;
        gap: 30px;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }

    .footer-social-icons{
        align-self:center;
        padding-left: 58px;
    }
}