*{
  margin:0;
  padding:0;
}

body{
  height: 100vh;
  background: black;
  color: white;
  font-family: 'outfit';
}

.hero-connect{
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  cursor: pointer;
}

.hero-resume{
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #FFF;
  cursor: pointer;
}

.hero-connect:hover{
  border: 2px solid white;;
}

.hero-resume:hover{
  border-color: #B415FF;
}